body{
    background-color: rgb(53, 53, 53);
    color: white;
    font: normal 20px Arial;
}
h1{
    text-align: center;
}
p{
    font: normal 15px Arial;
}       
.Centralizar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}